* {
    padding: 0;
    margin: 0;
}

.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}


/* for all section */

.btn-primary {
    font-size: 16px;
    background-color: #4E47FF;
    color: #fff;
    padding: 13px 25px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    transition: .8s ease-in;
}

.btn-primary:hover,
.btn-primary:focus {
    color: #4E47FF;
    background: transparent;
    border: 1px solid #4E47FF;
}


/* header start */

.header {
    background: url(./img/Hero-bg.png);
    padding: 0px 100px;
}

.header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

.header nav h1 {
    font-size: 34px;
    color: #4E47FF;
    font-weight: bold;
}


/* banner start */

.banner {
    margin: 200px 0px;
    text-align: center;
}

.banner h1 {
    font-size: 80px;
    font-weight: bold;
    color: #252432;
    height: 1.3em;
}

.banner .btn-primary {
    margin: 150px 0px;
}


/* header end */


/* action section start */

.action {
    padding: 0px 150px 50px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action h1 {
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    height: 1.3em;
}

.action p {
    font-size: 24px;
    color: #252432;
    height: 1.7em;
}

.action .btn-primary {
    margin: 35px 0px;
}

.action img {
    border-radius: 40px;
}


/* action section end */


/* users section start */

.users {
    background-color: #4E47FF;
    border-radius: 10px;
}


/* users section end */